@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}
<table border =2>
<tr>
<td>
@Html.ActionLink("Login", "Login",null, new { style ="color : red"})
@Html.ActionLink("Class Registarion","ClassRegistration","Registration")
@Html.ActionLink("Div Registarion", "DivRegistration", "Registration")
@Html.ActionLink("Subject Registarion", "SubjectRegistration", "Registration")
@Html.ActionLink("Faculty Registarion", "FacultySearch", "Registration")
</td></tr></table>