@{
    ViewBag.Title = "Class Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SchoolAutomationSystem.Areas.Home.Models.ClassDetailViewModel
<div class="row">
    <div class="main-content .col-xs-18 .col-sm-12">
       
        <div class="login-content middle-content .col-xs-6 .col-sm-4 mrgn-top10 pad5">
            @using (Html.BeginForm(FormMethod.Post))
            {
                <div class="fieldset-content">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Class Registration</legend>
                        <div class="forms">
                        <div class="form-inline">
                        <div class="form-group">
                                @Html.Label("Class Name")

                            
                                @Html.TextBox("Model.className", Model.className == null ? string.Empty : Model.className, new { @class = "form-control mrgn0 width-150 ", @style = " placeholder='Class'" })
                          </div>
                          
                            @Html.Hidden("Model.id", Model.id, new { id = "Model_id" })
                            <div class="form-group single-btn">
                                <button type ='button' id="addClass" class="btn btn-default width-50" >Add</button>
                                
                                <button id="reset" type="reset" class="btn btn-default width-50">
                                    Reset</button>
                            </div>

                             <div class="form-group single-btn">
                            
                             @MvcHtmlString.Create(Model.SuccessErrorMsg)
            
                            
                            
                              </div>

                        </div>
                        </div>
                    </fieldset>
                    <div id="myGrid">
                        @{
                if (Model.lstClassDetails != null && Model.lstClassDetails.Count() > 0)
                {
                           var grid = new WebGrid(Model.lstClassDetails, rowsPerPage: 4, canSort: true, canPage: true, ajaxUpdateContainerId: "myGrid");
                            @grid.GetHtml(
    tableStyle: "class_table mrgn-auto border",
        headerStyle: "",
        rowStyle: "odd",
            alternatingRowStyle: "even",
            selectedRowStyle: "",
    columns: grid.Columns(

            grid.Column("Action", "Action", format: (item) => MvcHtmlString.Create("<a id = edit_" + item.id + " href='#' onclick='editClick(event);'>Edit </a>")),
            grid.Column("ClassName", "Class", format: (item) => item.ClassName)
    )
    )
                       }
                        else
                {
                    @MvcHtmlString.Create("<div style = 'color : Red'> No Data found with this Search Criteria </div>")
                }
            }
                    </div>
                </div>
                
    
    
}
</div>
</div></div>
            <script type="text/javascript">
                $("#reset").click(function () {
                    $("#Model_className")[0].value = "";
                    $("#Model_id")[0].value = "";
                    return false;
                });
                $(document).ready(function () {

                    


                    $("#Model_className")[0].value = "";

                    $("#Model_id")[0].value = "";

                    $("#addClass").click(function () {
                        var success = ValidateSubmit();

                        if (success) {
                            $('form')[0].submit();
                        }
                        else {
                            return false;
                        }
                    });

                });

                function editClick(e) {

                    var $element = e.target.id;
                    var tempId = $element.split("_");

                    e.preventDefault();

                    //editClass(tempId[1]);

                    var url = window.location.href;
                    url = url.substring(0, url.lastIndexOf("/Registration"));
                    // alert("url");
                    $.ajax({
                        url: url + "/Registration/GetClassName",
                        type: "POST",
                        data: { ClassId: tempId[1] },

                        success: function (result) {
                            var a = result;
                            $("#Model_className")[0].value = result;
                            $("#Model_id")[0].value = tempId[1];
                            
                        },
                        error: function (xhr, status, error) {
                        }
                    });
                    
                    return false;

                }


                function ValidateSubmit() {
                    var success = true;

                    if ($("#Model_className") != undefined) {

                        success = success & ValidateTextBoxRequired($("#Model_className"), "Please enter Class Name");
                    }
                    return success;
                }
            </script>
