@{
    ViewBag.Title = "Div Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SchoolAutomationSystem.Areas.Home.Models.DivDetailViewModel
<div class="row">
    <div class="main-content .col-xs-18 .col-sm-12">

        <div class="login-content middle-content .col-xs-6 .col-sm-4 mrgn-top10 pad5">
            @using (Html.BeginForm(FormMethod.Post))
    {
                <div class="fieldset-content">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Div Registration</legend>
                        <div class="forms">
                        <div class="form-inline">
                        <div class="form-group">
                                @Html.Label("Class Name")
                            
                                @Html.DropDownList("Model.classID", Model.getAllClassNames(), new { @class = "" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Div Name")
                            
                                @Html.TextBox("Model.divName", Model.divName == null ? string.Empty : Model.divName, new { @class = "form-control mrgn0 width-150", @style = " placeholder='Class'" })
                            </div>
                          
                            @Html.Hidden("Model.divId", Model.divId, new { id = "Model_divId" })
                            <div class="form-group">
                                <button id="addDiv" type= "button" class="btn btn-default width-100" >Add</button>
                                
                            </div>
                            <div class="form-group">
                                <button id="reset" type="reset" class="btn btn-default width-100">
                                    Reset</button>
                            </div>
                             <div class="form-group single-btn">
                            
                             @MvcHtmlString.Create(Model.SuccessErrorMsg)
                            
                              </div>
                        </div>
                        </div>
                       
                    </fieldset>
                     
                    @if (Model.lstDivDetails.Count() > 0)
                    {
                    <div id="myGrid">
                        @{
                        var grid = new WebGrid(Model.lstDivDetails, rowsPerPage: 4, canSort: true, canPage: true, ajaxUpdateContainerId: "myGrid");
                            @grid.GetHtml(
    tableStyle : "class_table mrgn-auto border",
        headerStyle: "",
        rowStyle: "odd",
            alternatingRowStyle: "even",
            selectedRowStyle : "",
    columns : grid.Columns(

               grid.Column("Action", "Action", format: (item) => MvcHtmlString.Create("<a id = edit_" + item.Id + " href='#' onclick='editClick(event);'>Edit </a>")),
                grid.Column("divName", "Div", format: (item) => item.Div)
    )
    )
                        }
                    </div>
                    }
                     else
                {
                    @MvcHtmlString.Create("<div style = 'color : Red'> No Data found with this Search Criteria </div>")
                }
                </div>
                @Html.Hidden("Action",null, new { id = "Action" })

   
    
}
</div>
</div></div>
            <script type="text/javascript">
                $("#reset").click(function () {
                    $("#Model_divName")[0].value = "";
                    $("#Model_divId")[0].value = "";
                    return false;
                });
                $(document).ready(function () {

                    $("#Model_divName")[0].value = "";

                    $("#Model_divId")[0].value = "";

                    $("#addDiv").click(function () {
                  
                        $("#Action")[0].value = "Submit";
                        var success = ValidateSubmit();
                        if (success) {
                            $('form')[0].submit();
                        }
                        else {
                            return false;
                        }
                    });


                    $("#Model_classID").change(function () {
                        $("#Action")[0].value = "ClassChange";
                        $('form')[0].submit();

                    });
                });

                function editClick(e) {

                    var $element = e.target.id;
                    var tempId = $element.split("_");

                    e.preventDefault();

                    //editClass(tempId[1]);

                    var url = window.location.href;
                    url = url.substring(0, url.lastIndexOf("/Registration"));
                    // alert("url");
                    $.ajax({
                        url: url + "/Registration/GetDivName",
                        type: "POST",
                        data: { DivId: tempId[1] },

                        success: function (result) {
                            $("#Model_divName")[0].value = result;
                            $("#Model_divId")[0].value = tempId[1];

                        },
                        error: function (xhr, status, error) {
                        }
                    });

                    return false;

                }

                function ValidateSubmit() {

                    var success = true;
                    if ($("#Model_divName") != undefined) {

                        success = success & ValidateTextBoxRequired($("#Model_divName"), "Please enter Div Name");
                    }
                    if ($("#Model_classID") != undefined) {

                        success = success & ValidateDropDownBoxRequired($("#Model_classID"), "Please select Class Name");
                    }
                    return success;
                }
            </script>
