<ul class="nav nav-pills">
    <li class="dropdown active"><a href="#" data-toggle="dropdown" class="dropdown-toggle">
        Registration <span class="caret"></span></a>
        <ul role="menu" class="dropdown-menu">
            <li>@Html.ActionLink("Class Registarion","ClassRegistration","Registration")</li>
            <li>@Html.ActionLink("Div Registarion", "DivRegistration", "Registration")</li>
            <li>@Html.ActionLink("Subject Registarion", "SubjectRegistration", "Registration")</li>
            <li>@Html.ActionLink("Faculty Registarion", "FacultySearch", "Registration")</li>
            <li>@Html.ActionLink("Student Registarion", "StudentSearch", "Registration")</li>
        </ul>
    </li>
    <li><a href="#">Subject Mapping</a></li>
    <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Result
        Management <span class="caret"></span></a>
        <ul role="menu" class="dropdown-menu">
            <li><a href="#">Result1</a></li>
            <li><a href="#">Result2</a></li>
        </ul>
    </li>
    <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">User
        Management <span class="caret"></span></a>
        <ul role="menu" class="dropdown-menu">
            <li><a href="#">Result1</a></li>
            <li><a href="#">Result2</a></li>
        </ul>
    </li>
</ul>
